.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rapp.history
overprecision.Rproj
Experiment_Data/fn_dataframe.R
SPF/Data
SPF/Results_Ned
SPF/Scratch
Experiment/Analysis/*.do
Experiment/Analysis/Data/*.do
Experiment/Analysis/Data/*.dta
Experiment/Analysis/Graphs2
Experiment/Analysis/NEDGraphs
